  - name: Copy mongodb repo
    ansible.builtin.import_role:
        src: mongodb.repo
        dest: /etc/yum.repos.d/mongo.repo
    
  - name: Install mongodb
    ansible.builtin.yum:
        name: mongodb-org
        state: latest

  - name: update mongodb listen address
    ansible.builtin.replace:
        path: /etc/mongod.conf
        regexp: '127.0.0.1'
        replace: '0.0.0.0'
    
  - name: Restart the Service
    ansible.builtin.service:
        state: restarted
        name: mongod
        enabled: true