
- name: Install maven
  ansible.builtin.yum:
    name: maven
    state: installed

- name: App presetup  
  ansible.builtin.import_task:
    file: app_presetup.yml    
    
- name: Download maven Dependencies
  ansible.builtin.shell: mvn clean package ; mv target/{{ component }}-1.0.jar {{ component }}.sql
  args:
    chdir: /app

- name: MySQL Schema Setup
  ansible.builtin.import_tasks:
    file: mysql_schema_setup.yml