- name: Install Mysql client
  ansible.builtin.yum:
    name: mysql
    state: installed

- name: Load schema
  ansible.builtin.shell: mysql -h mysql-dev.roboshopmarket.store -uroot -pRoboShop@1	</app/schema/{{component}}.sql


    